
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {


    background: #fff;
}
main {
    padding: 30px;
    user-select: none;
}

header > span {
    font-size: 0.85rem;
    color:#5f646d;
    letter-spacing: 0.09rem; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

header > h1 {
    font-family: "Inter", sans-serif;
    color: #57585a;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 5px;
    text-align: center;
} 

.columns {
    display: flex;
    gap: 15px;
    height: 100%;
    margin-top: 50px;
}

.column {
    flex: 1;
    background-color: #ebe5e8;
    min-height:100dvh ;
    border-radius: 8px
}

.column_title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color:#fff;
    font-size: 0.9em;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

    
}

.column_card{
    padding: 4px;
    height: 100%;
    border-radius: 5px;
}


.add-cardbtn {

    background-color: transparent;
    color: #000000;
    border: 2px solid #314a52 ;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.2s ease;
    font-size: 14px;
    width: 50%;


    margin-left: auto;
    display: block;
    

}

.add-cardbtn:hover{
    background-color: #314a52 ;
    color: #fff;
    /* cursor:pointer; */
    transition: 0.5s ease;

}
.card {
    width:100%;
    min-height: 70px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dfe1e6;
    padding: 12px 14px;
    font-size: 0.9rem;
    color: #4d5c76;
    margin-bottom: 5px;
    cursor: grab; /* default cursor to indicate draggability */
}

/* while the card is being dragged, show grabbing cursor */
.card.dragging {
    cursor: grabbing;
}

.column--highlitgh {
    background-color: #deebff;
    border: 2px solid #2482ff;

}

.color_top {
    background-color:#314a52 ;
    padding: 5px;
    
}

@media (max-width: 769px) {
    body{
        min-width: 50%

    }

    .columns{
        display: flex;
        flex-direction: column;
        padding: 30px;

    }
}