*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background: rgb(187, 187, 202)
}
main {
    padding: 30px;
    user-select: none;
}

header > span {
    font-size: 0.85rem;
    color:#5f646d;
    letter-spacing: 0.09rem;   
}

header > h1 {
    color: #383d4b;
    font-size: 3rem;
    margin-top: 5px;
    text-align: center;
} 

.columns {
    display: flex;
    gap: 15px;
    height: 100%;
    margin-top: 50px;
}

.column {
    flex: 1;
    background-color: #ebe5e8;
    height: 100dvh;
    border-radius: 8px;
}

.column_title {
    color: #5d6e8b;
    font-size: 0.9em;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 1px;
    
}

.column_card{
    padding: 4px;
    height: 100%;
    border-radius: 5px;

}
.card {
    width:100%;
    min-height: 70px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dfe1e6;
    padding: 12px 14px;
    font-size: 0.9rem;
    color: #4d5c76;
    margin-bottom: 5px;

}

.column--highlitgh {
    background-color: #deebff;
    border: 2px solid #2482ff;
}

.red {
    background-color: rgb(240, 195, 195);
    padding: 4px;
    border-radius: 2px;
}

.blue {
    background-color: rgb(156, 200, 226);
    padding: 4px;
    border-radius: 2px;

}
.yellow {
     background-color: rgb(247, 239, 135);
    padding: 4px;
    border-radius: 2px;

}
.green {
     background-color: rgb(156, 236, 199);
    padding: 4px;
    border-radius: 2px;
}